.app-container {
  width: 75vw;
  margin: auto;
  position: relative;
  min-height: 100vh;
  background-color: #fffdee;
}

.content {
  width: inherit;
  padding: 1em 1em 5em 1em;
}

@media only screen and (max-width: 750px) {
  div .content {
    padding: 0.5em;
  }
}
